@font-face {
    font-family: 'birdyGame';
    src: url(../../utils/fonts/Birdy\ Game.ttf);
}

@font-face {
    font-family: 'Gamelan';
    src: url(../../utils/fonts/Gamelan.ttf);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

.outside{
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form{
    background-color: rgba(37, 37, 37, 0.6);
    border: 5px solid transparent;
    border-image: linear-gradient(
        var(--rotate)
        , #5ddcff, #3c67e3 43%, #4e00c2) 1;
    animation: spin 2.5s linear infinite;
    display: flexbox;
    width: 80%;
}

.form h1{
    font-family: 'birdyGame';
    -webkit-text-stroke: 0.5px black;
    font-size: xxx-large;
    margin-bottom: 0%;
}

.separador{
    display: flex;
}

.columan1{
    width: 50%;
}

.campo{
    display: grid;
    font-family: 'Gamelan';
    font-size: large;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 1%;
    width: 90%;
    background-color: rgba(37, 37, 37, 0.75);
}

.campo input{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Gamelan';
    text-align: center;
    font-size: large;
}

.campo textarea{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Gamelan';
}

.campo2{
    display: flex;
    font-family: 'Gamelan';
    font-size: large;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 1%;
    width: 90%;
    background-color: rgba(37, 37, 37, 0.75);
}

.campo2 label{
    width: 85%;
}

.campo2 input{
    text-align: center;
    font-family: 'Gamelan';
    font-size: large;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.campo2 select{
    text-align: center;
    font-family: 'Gamelan';
    font-size: large;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.campo3{
    font-family: 'Gamelan';
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.campo3 div{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(37, 37, 37, 0.75);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    text-align: center;
    justify-content: center;
}

.campo3 div:hover{
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255), 0px 0px 5px 5px rgb(64, 70, 255);
}

.campo3 div div:hover{
    box-shadow: none
}

.campo3 div button{
    background-color: transparent;
    color: white;
    border: 0;
}

.campo3 div div{
padding: 0%;
margin: 0%;
}


.btm{
    background-image: linear-gradient(
        var(--rotate)
        , #51bbd9, #3c67e3 43%, #4e00c2);
    font-family:'Gamelan';
    color: white;
    font-size: larger;
    padding: 0.5% 2% 0.5% 2%;
    border-radius: 10px;
    border: white solid 2px;
    margin: 2%;
}

.btm:hover{
    background-image: linear-gradient(
        var(--rotate)
        , #51bbd9, #3c67e3 43%, #4e00c2);
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255), 0px 0px 10px 10px rgb(115, 64, 255);
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

.error{
    color: red;
    font-size: small;
    margin-top: 0%;
}

@media (max-width: 700px){
    .separador{
        display: grid;
    }

    .columan1{
        width: 100%;
    }

    .campo2 input, .campo2 select, .campo input, .campo label, .campo2 label  {
        font-size: smaller;
    }

}


@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }