@font-face {
    font-family: '8bitOperatorPlus8';
    src: url(../../utils/fonts/8bitOperatorPlus8-Bold.ttf);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }


.main{
    height: 100%;
}

.div{
    margin-top: 0%;
    padding-top: 7%;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}

.div span{
    display:block;
    font-size:xx-large;
    font-family: '8bitOperatorPlus8';
    white-space: nowrap;
    border-right: 4px solid;
    width: 38ch;

    animation: typing 1s steps(38), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.sub_btm{
    margin-top: 30%;
}

.btm{
    background-image: linear-gradient(
        var(--rotate)
        , #51bbd9, #3c67e3 43%, #4e00c2);
    font-family:'Gamelan';
    color: white;
    font-size: larger;
    padding: 0.5% 2% 0.5% 2%;
    border-radius: 10px;
    border: white solid 2px;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

.btm:hover{
    background-image: linear-gradient(
        var(--rotate)
        , #51bbd9, #3c67e3 43%, #4e00c2);
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255), 0px 0px 10px 10px rgb(115, 64, 255);
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}



@media (max-width: 700px){
    .div span{
        font-size:large;
    }

    .div{
        margin-top: 25%;
    }

    .sub_btm{
        margin-top: 20%;
    }
}


@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }